{% extends 'layout/master.html' %}

{% block content %}

{% load staticfiles %}

<div class="row">
	<br>
	<h5 align="center" class="orange-text text-darken-4"><img src="{% static "assets/about.png" %}" width="36" align="center"> About </h5>
	<br>
	<div class="row">
		<div class="col s12 m8 l8 offset-l2 offset-m2">
			<div class="card">
				<div class="card-image blue">
					<img src="{% static "assets/stars.png" %}">
					<span class="card-title" style="font-weight:600;">OVERVIEW</span>
					<a class="btn-floating halfway-fab waves-effect waves-light pink"><i class="material-icons">info_outline</i></a>
				</div>
				<div class="card-content">
					<p style="font-size: 16px;">
						What is a technical fair without a Hackathon? Where ideas emerge, developers evolve, nerds chill out and science accelerates further.
						<br>
						In this spirit we invite all those developers out there for SIESGST's very own Hackathon- ByteCamp'17. This year the Hackathon revolves around futuristic technologies as the "Future Is Now". Exploring the avenues of Internet Of Things (IoT), this Hackathon promises to not just be future ready- but also boost the conglomeration of intelligent systems.
						<br>
						So, put on your thinking hats, roll out the developer in you and let the coder in you go full throttle ahead.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m8 l8 offset-l2 offset-m2">
			<div class="card">
				<div class="card-image blue">
					<img src="{% static "assets/screen.jpg" %}">
					<span class="card-title" style="font-weight:600;">RULES</span>
					<a class="btn-floating halfway-fab waves-effect waves-light pink"><i class="material-icons">security</i></a>
				</div>
				<div class="card-content">
					<p style="font-size: 16px;">
						Following are the details for your perusal and necessary action:
						<br>
						<b>GENERAL RULES</b>:
						<br>
						It's a physical hackathon, the venue is

						SIES Graduate School of Technology, Vidyapuram, Sector 5, Nerul, Navi Mumbai, Maharashtra 400706, India.
						<br>
						The hackathon will start at 25-02-2017 12:00 PM and end at 26-02-2017 12:00 PM.
						<br>
						You work on your hack during the allotted time only. You will be intimated va email regarding the reporting time and further details.
						<br>
						This is a team participation hackathon. You can have at most 3 members in your team.
						<br>
						There is 1 theme of the hackathon, you must submit a hack that belongs to the 'Internet of Things' theme.
						<br>
						You are required to start your project from scratch after the commencement of the Hackathon and work on it using the facilities and expertise available at the event.
						<br>
						<b>You may use open source libraries and other freely available systems / services such as Google Maps, Facebook Connect, Twitter feeds etc.</b>
						<br>
						Once the hackathon starts, you will get an option to submit your hack, you can submit as many times as you want, the last hack will be considered as the final submission
						<br>
						<b>Equipment - All projects to be built using equipment brought by the participant team. (No pre-assembled modules are allowed).</b>
						<br>
						We will provide basic components required for assembly of your projects. In this light, we would like to preserve/replenish our equipment, so equipment provided by us is to be returned in good working condition after the event.
						<br>
						Please do not violate any IP or copyrights owned by others. Those doing so will be disqualified from the event.
						<br>
						<br>
						<b>EQUIPMENT AND COMPONENTS </b>:
						<br>
						We understand the basic tools you'll require during the hack and hence if you forget to get your tools we will provide you with commonly used components and equipment that you may need for prototyping (refer equipment list given in Annexure A).
						<br>
						You will need to bring your own PERSONAL LAPTOPS, mobile phones, Wi-Fi dongles and any other devices with the necessary software. While a Wi-Fi connection would be provided, no tech support for connecting your personal devices to the same would be available.
						<br>
						<br>
						<b>FACILITIES AT THE VENUE</b>:
						<br>
						Food & Beverage facilities would be provided at the venue for all participants on both the days. Common rooms for relaxation and refreshment will be arranged by the organisers.
						<br>
						<br>
						<b>DISQUALIFICATION</b>:
						<br>
						Copyright violations, cheating, recklessness and endangering others, disrespectful behavior, immoral acts, illegal acts, use of alcohol, tobacco and/or banned substances at the event, being under the influence during the event, etc. are strictly not allowed and will lead to immediate disqualification.
						<br>
						Dropping out of the hackathon before the conclusion also leads to disqualification of the individual/team. All prizes won will be forfeited in such cases.
						<br>
						Disqualification includes but is not limited to any or all of the above.
						<br>
						The organizers' decision will be final in all such matters.
						<br>
						<br>
						<b>SAFETY</b>:
						<br>
						Any special medical needs/conditions must be informed to the organizers in advance.
						<br>
						Please exercise utmost caution while working with electrical and electronic components, power tools, heating elements, etc. Each individual is responsible for his/her own personal safety as well as the safety of their belongings and the equipment they are using. Please also be mindful of others and advise those who may not be following safe practices at the Hackathon.
						<br>
						By participating in the Hackathon, you confirm that you have read and agreed to all the rules and regulations stated above.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}