{% extends 'layout/master.html' %}

{% block content %}

{% load staticfiles %}

<div class="row">
	<br>
	<h5 align="center" class="blue-text text-darken-1"><img src="{% static "assets/teams.png" %}" width="36" align="center"> Teams </h5>
	<br>
	<div class="col s12 m4 l4 offset-m2 offset-l2">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="{% static "assets/team.jpg" %}">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Team Name<i class="material-icons right">info_outline</i></span>
				<p><a href="#">Project Title</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title activator grey-text text-darken-4">Team Name<i class="material-icons right">close</i></span>
				<p><a href="#">Project Title</a></p>
				<p><b>Hackers:</b> Pahila Banda, Dusra Banda, Teesra bhi</p>
				<p><b>Project Description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			</div>
		</div>
	</div>
	<div class="col s12 m4 l4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="{% static "assets/team.jpg" %}">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Team Name<i class="material-icons right">info_outline</i></span>
				<p><a href="#">Project Title</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title activator grey-text text-darken-4">Team Name<i class="material-icons right">close</i></span>
				<p><a href="#">Project Title</a></p>
				<p><b>Hackers:</b> Pahila Banda, Dusra Banda, Teesra bhi</p>
				<p><b>Project Description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			</div>
		</div>
	</div>
	<div class="col s12 m4 l4 offset-m2 offset-l2">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="{% static "assets/team.jpg" %}">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Team Name<i class="material-icons right">info_outline</i></span>
				<p><a href="#">Project Title</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title activator grey-text text-darken-4">Team Name<i class="material-icons right">close</i></span>
				<p><a href="#">Project Title</a></p>
				<p><b>Hackers:</b> Pahila Banda, Dusra Banda, Teesra bhi</p>
				<p><b>Project Description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			</div>
		</div>
	</div>
	<div class="col s12 m4 l4">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="{% static "assets/team.jpg" %}">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">Team Name<i class="material-icons right">info_outline</i></span>
				<p><a href="#">Project Title</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title activator grey-text text-darken-4">Team Name<i class="material-icons right">close</i></span>
				<p><a href="#">Project Title</a></p>
				<p><b>Hackers:</b> Pahila Banda, Dusra Banda, Teesra bhi</p>
				<p><b>Project Description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			</div>
		</div>
	</div>
	


</div>

{% endblock content %}